/* ------------ base template navbar and footer styling ------------ */



/*------------ base.html navbar CSS ------------*/

.navbar-brand {
    padding: 0.3em;
  }

#navbarNav {
    justify-content: right;
    text-align: right;
  }
  
  @media (max-width: 768px) {
    #navbarNav {
      justify-content: center;
      text-align: center;
    }
  }
  
  .navbar-brand:hover {
    background-color: #7b8ac2;
    color: #d5d2cb;
    border-radius: 7px;
  }
  
  .nav-link:hover {
    background-color: #7b8ac2;
    color: #d5d2cb;
    border-radius: 7px;
  }

 /*------------ base.html call-to-action CSS ------------*/
  
  #call-to-action {
    padding: 1em;
  }

  @media (max-width: 768px) {
    #call-to-action {
      padding: 1em 1em 0em 1em;
    }
  }

  .cta-btn {
    color: #d5d2cb;
    background-color: lightcoral;
    font-size: 60px;
    padding: .25em;
    text-decoration: none;
  }

  .cta-btn:hover {
    background-color: #7b8ac2;
  }

  .cta-btn:active {
    box-shadow: 1px 1px 5px black;
    transform: translateY(3px);
  }

  #call-to-action p {
    font-size: 50px;
    align-self: center;
    margin: 1em;
    text-align: center;
  }
  
  @media (max-width: 1750px) {
    .cta-btn {
      font-size: 40px;
      padding: .5em;
    }

    #call-to-action p {
      font-size: 35px;
    }
  }

  @media (max-width: 1080px) {
    .cta-btn {
      font-size: 35px;
      padding: .5em;
    }

    #call-to-action p {
      font-size: 27px;
    }
  }

  @media (max-width: 768px) {
    .cta-btn {
      font-size: 35px;
      padding: .5em;
    }

    #call-to-action p {
      font-size: 25px;
    }
  }

  /*------------ base.html footer CSS ------------*/
  
  footer {
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    color: #d5d2cb;
  }
  
  #footer-contact-info {
    justify-content: left;
    text-align: left;
    padding-left: 0px;
  }
  
  #footer-logo {
    justify-content: center;
    text-align: center;
    align-items: end;
  }
  
  #footer-logo-wrapper > * {
    padding-top: 15px;
  }
  
  #footer-nav {
    justify-content: right;
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #footer-nav ul {
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 768px) {
    #footer-nav {
      justify-content: center;
      text-align: center;
    }
  
    #footer-contact-info {
      justify-content: center;
      text-align: center;
    }
  }
  