/*------------ contact.html CSS ------------*/


/* ------------ contact banner ------------ */

#contact-box {
    padding: 2em;
    margin: 2em auto;
}

#contact-banner {
    text-align: center;
    align-items: center;
    margin: 0em 2em 2em 2em;
    border: solid black 2px;
    border-radius: 3px;
    padding: 1em;
}

#contact-banner p {
    /* padding-top: .5em; */
    margin: 1em;
}