/*------------ contact.html CSS ------------*/


/* ------------ contact banner ------------ */

#contact-box {
    padding: 2em;
    margin: 2em auto;
}

#contact-banner {
    text-align: center;
    align-items: center;
    margin: 0em 2em 2em 2em;
    padding: 1em;
}

#contact-banner p {
    margin: 1em;
}

/* ------------ contact body ------------ */

#contact-text-header {
    padding: .5em;
}

#contact-text-body {
    padding: 1em;
}