/*------------ contact.html CSS ------------*/


/* ------------ contact form ------------ */

/* .form-control:invalid {
    border: red;
} */

/* ------------ contact banner ------------ */

#contact-box {
    padding: 2em;
    margin: 2em auto;
}

#contact-banner {
    text-align: center;
    align-items: center;
    margin: 0em 2em 2em 2em;
    padding: 1em;
}

@media (max-width: 768px) {
    #contact-banner {
        margin: 0em .5em 2em .5em;
    }
}

#contact-banner p {
    font-size: 25px;
    margin: 1em;
    line-height: 1.25;
}

@media (max-width: 768px) {
    #contact-banner p {font-size: 20px;}
}

/* ------------ contact body ------------ */

#contact-text-header {
    padding: .5em;
}

.contact-text-body {
    line-height: 1.25;
    padding: 1em .5em 0em 1em;
    font-size: 25px;
}

.projects-list {
    padding-left: 3em;
}

#contact-text {
    padding-bottom: 1.25em;
}
/* @media (max-width: 768px) {
    #contact-text {margin-left: auto};

} */