/*------------ landing.html CSS ------------*/
@keyframes shine {
  0%  {
    background-position: 110% 0%, 0 0;
  }
  100% {
    background-position: -10% 0%, 0 0;
  }
}
/* The above is from a code pen for metallic text. */

/* ------------ header CSS ------------ */

.landing-header div h1 {
  width: 11em;
  padding: 0.3em;
}

#landing-mission-statement {
  /* display: flex; */
}

/* .twenty-wide {
  width: 20em;
} */

#landing-mission-statement h2 {
  /* margin: 1em; */
  max-width: 25em;
  padding: 1em;
  text-align: center;
}

#landing-mission-statement p {
  max-width: 45em;
  padding: 1em;
  text-align: center;
  font-size: 24px;
}

div.c-wrapper{
  width: 864px; 
  margin: auto;
  padding: 0px;
}

@media (max-width: 1080px){
  div.c-wrapper{
    width: 80%; 
    margin: auto;
  }
}

.landing-text-hole p {
  font-size: 36px;
  line-height: 1.25;
}

#landing-content > .row {
  margin: 50px 0px;
  padding: 40px;
}

.text-bubble {
  border-radius: 5px;
  padding: 1.5em;
  color: #d5d2cb;
  box-shadow: 0 0 0 5px slategrey, 0 0 0 10px gray, 0 0 0 15px gainsboro;
}

@media (max-width: 768px) {
  #landing-content {
    align-items: center;
  }

  .text-bubble {
    text-align: center;
    margin-top: 2em;=
  }

  .cursive {
    line-height: .8em;
  }
}

[data-silver] {
	color: #858585;

	@supports ((background-clip: text) or (-webkit-background-clip: text)) {
		color: transparent;
		background-image: linear-gradient(to right, transparent 0%, transparent 45%,white 50%,transparent 55%,transparent 100%), linear-gradient(270deg, #cfc7c7 1.3%, #c4c1c1 15%, #a4a4a4 29.6%, #9d9b9b 29.6%, #aeacac 31.8%, #b9b7b7 31.8%, #d3d3d3);
		background-position: 110% 0%, 0 0;
		background-size: 200% auto, auto;
		-webkit-background-clip: text;
		background-clip: text;
		animation: shine 2s ease-in-out 2 forwards 2s;
    animation-iteration-count: 1.9;
  }
	
	&:before {
		content: attr(data-silver);
		color: #fff;
		position: absolute;
		z-index: -1;
		top: -.08vw;
		left: 0px;
		text-shadow: rgba(whitesmoke, 1) 0px .08vw 12px;
	}
  @supports ((background-clip: text) or (-webkit-background-clip: text)) {
    &:after {
        content: attr(data-silver);
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, transparent 0%,transparent 48%,rgba(#111, .5) 50%,transparent 75%);
        -webkit-background-clip: text;
        background-clip: text;
    }
  }
}

/* ============ carousel styling ============ */

.carousel-item img {
  aspect-ratio: 4/3;
  height: auto;
  object-fit: cover;
}