/* CSS for Silverstone Landscaping Web Page */

/* ------------ document / utility CSS ------------ */

html {
  font-family: "Figtree", sans-serif;
  font-family: "Poppins", sans-serif;
  height: 100%;
  color: #274029;
  font-size: large;
  /* background-color: #eaf4f4; */
}

body {
  background-image: url("/static/img/yellow-flower-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  background-attachment:fixed;
}

p {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  color: #d5d2cb;
  font-family: "Georgia", serif;
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 60px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }
}

.full-width {
  width: 100vw;
  position: relative;
  /* left: 50%;
  right: 50%; */
  margin-left: -50vw;
  margin-right: -50vw;
}

.dark-row {
  background-color: #274029;
}

.darkish-row {
  background-color: #7b8ac2;
}

.med-row {
  background-color: #32746d;
}

.light-row {
  background-color: #ccc8c0;
}

/*------------ base.html navbar CSS ------------*/

#navbarNav {
  justify-content: right;
  text-align: right;
}

.navbar-brand {
  color: #d5d2cb;
}

.navbar-brand:hover {
  background-color: #7b8ac2;
  color: #d5d2cb;
}

.nav-link {
  color: #d5d2cb;
}

.nav-link:hover {
  background-color: #7b8ac2;
  color: #d5d2cb;
}

/*------------ base.html footer CSS ------------*/

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  color: #d5d2cb;
}

#footer-contact-info {
  justify-content: left;
  text-align: left;
  padding-left: 0px;
}

#footer-logo {
  justify-content: center;
  text-align: center;
  align-items: end;
}

#footer-logo-wrapper > * {
  padding-top: 15px;
}

#footer-nav {
  justify-content: right;
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer-nav ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  #footer-nav {
    justify-content: center;
    text-align: center;
  }

  #footer-contact-info {
    justify-content: center;
    text-align: center;
  }
}

/*------------ landing.html CSS ------------*/

#landing-header {
}

.blue-green-background {
  background: radial-gradient(circle, #32746d, #9ec5ab);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px #01200f;
  letter-spacing: 2px;
  width: 100%;
  box-sizing: border-box;
}

#landing-content>.row {
  margin: 100px 0px;
  padding: 40px;
  border: 1px black;
  border-radius: 5px;
  background-color: #49672d;
}

.landing-img {
  width: 90%;
  height: auto;
  border-radius: 5px;
}

.text-bubble {
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px;
  background-color: #6e7e42;
  color: #d5d2cb;
}
