/* CSS for Silverstone Landscaping Web Page */

/* ------------ document / utility CSS ------------ */

html {
  font-family: "Figtree", sans-serif;
  font-family: "Poppins", sans-serif;
  /* height: 100%; */
  color: #274029;
  font-size: large;
  /* background-color: #eaf4f4; */
  overflow-y: scroll;
}

body {
  background-image: url("/static/img/yellow-flower-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-family: "Poppins", sans-serif;
}

h1 /*, h2 */ {
  color: #d5d2cb;
  font-family: "Georgia", serif;
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
}

/* @media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }
} */

/* ------------ utility classes ------------ */

.full-width {
  width: 100vw;
  position: relative;
}

.dark-row {
  background-color: #274029e9;
}

.green-transparency {
  background-color: #49672dd6;
}

.darkish-row {
  background-color: #7b8ac2;
}

.med-row {
  background-color: #32746d;
}

.light-row {
  background-color: #ccc8c0;
}

.gray-transparency {
  background-color: #ccc8c095;
}

.orange-banner {
  background-color: #f6b26b;
}

.light-font {
  color: #d5d2cb;
}

.large-container-default {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

