{% extends 'base.html' %} {% block title %} Contact Us - Silverstone Contracting
{% endblock %} {% block head %}
<link rel="stylesheet" href="/static/css/contact.css" />
{% endblock %} 

{% block body %}

<div class="container green-transparency large-container-default" id="contact-box">
  <div
    class="d-flex flex-wrap justify-content-around orange-banner large-container-default"
    id="contact-banner"
  >
    <div class="col-12 col-md-6 order-md-1">
      <h3>Contact Us Today!</h3>
    </div>
    <div class="col-12 col-md-6 order-md-2">
      <p>
        Use the form below to tell us what you're looking for and we'll be in
        touch soon!
      </p>
    </div>
  </div>
  <div class="row g-5 pe-4">
    <form class="col-12 col-md-6" action="{{ url_for('contact') }}" method=post>
      <div class="form-floating mb-4">
        <input
          class="form-control"
          type="text"
          name="name"
          placeholder="Name"
          id="contact-name"
        />
        <label for="contact-name">Name</label>
      </div>
      <div class="form-floating mb-4">
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="Email"
          id="contact-email"
        />
        <label for="contact-email">Email</label>
      </div>
      <div class="form-floating mb-4">
        <input
          class="form-control"
          type="text"
          name="phone"
          placeholder="Phone Number"
          id="contact-phone"
        />
        <label for="contact-phone">Phone Number</label>
      </div>
      <select
        class="form-control form-select-lg mb-4 w-100"
        aria-label="Services Select Menu"
        name="services"
      >
        <option selected>Select Services</option>
        <option value="Interior">Interior</option>
        <option value="Exterior">Exterior</option>
        <option value="Both/Other">Both/Other</option>
      </select>
      <textarea
        class="form-control mb-4"
        id="contact-more-info"
        rows="5"
        placeholder="Tell us more about your project."
        name="message-body"
      ></textarea>
      <button type="submit" class="cta-btn large-container-default" src="/contact-submit">
        Submit
      </button>
    </form>
    <div
      class="col-12 col-md-6 gray-transparency large-container-default h-100"
      id="contact-text"
    >
      <h3 id="contact-text-header">Hellllo</h3>
      <p id="contact-text-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit? <br><br> Incidunt, qui
        quisquam, saepe doloribus inventore perferendis quibusdam illo sed et,
        corrupti ipsam pariatur iure nobis praesentium? <br><br> Optio magni et nobis sit
        corporis consequuntur distinctio, repellendus neque, reiciendis, soluta
        voluptate laborum aliquid!

        <!-- include a link to the projects page for reference  question mark? -->

      </p>
    </div>
  </div>
</div>

{% endblock %}
