{% extends 'base.html' %} {% block title %} Contact Us - Silverstone Contracting
{% endblock %} {% block head %}
<link rel="stylesheet" href="/static/css/contact.css" />
{% endblock %} {% block body %}

<div class="container dark-row" id="contact-box">
  <div
    class="row d-flex flex-wrap justify-content-around orange-banner"
    id="contact-banner"
  >
    <div class="col-12 col-md-6 order-md-1">
      <h2>Contact Us Today!</h2>
    </div>
    <div class="col-12 col-md-6 order-md-2">
      <p>
        Use the form below to tell us what you're looking for and we'll be in
        touch soon!
      </p>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-12 col-md-6"> -->
    <form class="col-12 col-md-6">
      <div class="form-floating">
        <input
          class="form-control"
          type="text"
          name="name"
          placeholder="Name"
          id="contact-name"
        />
        <label for="contact-name">Name</label>
      </div>
      <div class="form-floating">
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="Email"
          id="contact-email"
        />
        <label for="contact-email">Email</label>
      </div>
      <div class="form-floating">
        <input
          class="form-control"
          type="text"
          name="phone"
          placeholder="Phone Number"
          id="contact-phone"
        />
        <label for="contact-phone">Phone Number</label>
      </div>
      <select class="form-select-lg" aria-label="Services Select Menu">
        <option selected>Services</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <textarea
        class="form-control"
        id="contact-more-info"
        rows="5"
        placeholder="Tell us more about your project."
      ></textarea>
      <button type="button" class="btn btn-primary" src="/contact-submit">
        Submit
      </button>
    </form>
    <!-- </div> -->
    <div class="col-12 col-md-6"></div>
  </div>
</div>

{% endblock %}
