{% extends "base.html" %}
{% block header %}
  {% if success %}
    <p>Thank you for your message. We'll get back to you shortly.</p>
  {% else %}
    {% for message in form.name.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %} 
    {% for message in form.email.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %} 
    <!-- {% for message in form.phone.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}  -->
    {% for message in form.message.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endblock %}


{% block body %}
  <h2>Contact</h2>
  
  <form action="{{ url_for('contact') }}" method=post>
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name }}
    {{ form.email.label }}
    {{ form.email }}
    {{ form.phone.label }}
    {{ form.phone }}
    {{ form.message.label }}
    {{ form.message }}
    {{ form.submit }}
  </form>
{% endblock %}