<!-- Home page for Silverstone Contracting -->
{% extends 'base.html' %} {% block title %} Silverstone Contracting {% endblock
%} {% block head %}
<link rel="stylesheet" href="/static/css/landing.css" />
{% endblock %} {% block body %}

<div class="container-fluid px-0" id="landing-header">
  <div class="row blue-green-background d-flex justify-content-center">
    <h1>Silverstone Contracting</h1>
  </div>

  <div class="row px-5 g-3" id="landing-mission-statement">
    <div class="col-12 d-flex justify-content-center">
      <h2 class="gray-transparency large-container-default">
        Welcome to Silverstone Contracting, where we craft your vision with a
        silver touch!
      </h2>
    </div>
    <div class="col-12 d-flex justify-content-center">

  
      <!-- carousel leading to the projects page? -->
      <!-- https://getbootstrap.com/docs/5.0/components/carousel/ -->

      <p class="gray-transparency large-container-default">
        Silverstone means craftsmanship, exceptional customer service, and
        attention to detail. From small repairs to major projects, we take pride
        in our work and strive to exceed our clients' expectations every step of
        the way. At Silverstone Contracting, we understand that your home is
        your most valuable asset, and we are committed to helping you make the
        most of it. Contact us today to schedule a consultation and let us bring
        your vision to life.
      </p>
    </div>
  </div>
</div>

<div class="container" id="landing-content">
  <div
    class="row d-flex flex-wrap justify-content-around align-items-center large-container-default green-transparency"
  >
    <div
      class="col-md-5 col-12 order-1 d-flex justify-content-center align-items-center"
    >
      <img
        class="img-fluid rounded"
        src="static/img/look-up-look-down-photography--o7ASOHDV9E-unsplash-300x225.jpg"
      />
    </div>
    <div class="col-md-7 col-12 order-2">
      <div class="text-bubble med-row">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
          blanditiis, repellat sapiente possimus, sed beatae qui distinctio odit
          eaque fugiat eum laboriosam. Incidunt, placeat reprehenderit!
        </p>
      </div>
    </div>
  </div>

  <div
    class="row d-flex flex-wrap justify-content-around align-items-center large-container-default green-transparency"
  >
    <div
      class="col-md-7 order-md-1 col-12 order-2 d-flex justify-content-center"
    >
      <div class="text-bubble med-row">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam
          inventore obcaecati ad iusto quae itaque nulla harum corrupti, autem
          illo eos eligendi qui ducimus delectus.
        </p>
      </div>
    </div>

    <div
      class="col-md-5 order-md-2 col-12 order-1 d-flex justify-content-center align-items-center"
    >
      <img
        class="img-fluid rounded"
        src="static/img/look-up-look-down-photography--o7ASOHDV9E-unsplash-300x225.jpg"
      />
    </div>
  </div>
</div>
{% endblock %}
