<!-- Home page for Silverstone Contracting -->
{% extends 'base.html' %} {% block title %} Silverstone Contracting {% endblock
%} {% block head %}
<link rel="stylesheet" href="/static/css/landing.css" />
{% endblock %} {% block header %} {% endblock %} {% block body %}

<div class="container-fluid px-0">
  <div class="row px-5 py-0 g-3" id="landing-mission-statement">
    <div class="col-12 d-flex justify-content-center">
      <h2 data-silver="">
        Crafting your vision with a
        <span role="text" class="cursive">silver touch.</span>
      </h2>
    </div>

    <!-- projects image carousel -->
    <div class="col-12 c-wrapper large-container-default">

      <!-- carousel indicator buttons -->

      <div
        id="silverstoneCarousel"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          {% for photo in carousel_data %} {% if loop.first %}
          <button
            type="button"
            data-bs-target="#silverstoneCarousel"
            data-bs-slide-to="{{ loop.index - 1 }}"
            class="active"
            aria-current="true"
            aria-label="{{ photo['slide'] }}"
          ></button>
          {% else %}
          <button
            type="button"
            data-bs-target="#silverstoneCarousel"
            data-bs-slide-to="{{ loop.index - 1 }}"
            aria-label="{{ photo['slide'] }}"
          ></button>
          {% endif %} {% endfor %}
        </div>

        <!-- carousel interior images  -->
        
        <div class="carousel-inner rounded">
          {% for photo in carousel_data %} {% if loop.first %}
          <div class="carousel-item active">
            <img
              src="{{ photo['link'] }}"
              class="d-block w-100 object-fit-cover"
              alt="{{ photo['alt']}}"
            />
          </div>
          {% else %}
          <div class="carousel-item">
            <img
              src="{{ photo['link'] }}"
              class="d-block w-100 object-fit-cover"
              alt="{{ photo['alt']}}"
            />
          </div>
          {% endif %} {% endfor %}
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#silverstoneCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#silverstoneCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- end carousel -->

    <div class="landing-text-hole col-12 my-5 d-flex justify-content-center">
      <p class="gray-transparency large-container-default">
        Silverstone means craftsmanship, exceptional customer service, and
        attention to detail. From small repairs to major projects, we take pride
        in our work and strive to exceed our clients' expectations every step of
        the way. At Silverstone Contracting, we understand that your home is
        your most valuable asset, and we are committed to helping you make the
        most of it. Contact us today to schedule a consultation and let us bring
        your vision to life.
      </p>
    </div>
  </div>
</div>

{% endblock %}
