{% extends 'base.html' %} {% block title %} Services - Silverstone Contracting
{% endblock %} {% block head %}
<link rel="stylesheet" href="/static/css/services.css" />
{% endblock %} {% block body %}
<div class="container-fluid px-0">
  <div class="container" id="landing-content">
    <div
      class="row d-flex flex-wrap justify-content-around align-items-center large-container-default green-transparency"
    >
      <div
        class="col-lg-5 col-12 order-1 d-flex justify-content-center align-items-center"
      >
        <img
          class="img-fluid rounded"
          src="https://i.imgur.com/u1wrpCF.jpg"
        />
      </div>
      <div class="col-lg-7 col-12 order-2 mt-4 mt-lg-0">
        <div class="text-bubble med-row">
          <h3>Interiors</h3>
          <p>
            Silverstone is ready for your interior contracting project. Quality
            workmanship and fair pricing for your kitchen or bathroom remodel.
            Our skilled team handles demolition, framing, plumbing, electrical,
            woodworking and cabinetry, insulation and HVAC, and the many details
            that make your home cozy. Collaborating with your architect,
            engineer, and designer of choice, Silverstone helps your dream
            become a lived reality.
          </p>
        </div>
      </div>
    </div>

    <div
      class="row d-flex flex-wrap justify-content-around align-items-center large-container-default green-transparency"
    >
      <div
        class="col-lg-7 order-lg-1 col-12 order-2 mt-4 mt-lg-0 d-flex justify-content-center"
      >
        <div class="text-bubble med-row">
          <h3>Exteriors</h3>
          <p>
            Nothing beats enjoying your very own slice of the great outdoors.
            Let Silverstone help you with your outdoor project. We bring
            expertise and value to your yard, including fences, driveways, decks
            and patios, hard-scaping, and water features. Ensure that your home
            withstands the elements with a new roof, add to your home's beauty
            with a new pergola, gazebo, or trellis, and invest in your home's
            potential with a full remodel.
          </p>
        </div>
      </div>

      <div
        class="col-lg-5 order-lg-2 col-12 order-1 d-flex justify-content-center align-items-center"
      >
        <img
          class="img-fluid rounded"
          src="https://i.imgur.com/pkxTRvs.jpg"
        />
      </div>
    </div>
  </div>
  {% endblock %}
</div>
